#header .Color {
  background: #1E1B2C !important;
}
#header .anchura{
  max-width: 100vw;
}
.header, #header {
  background-size: auto;
  /* font-size: 1.5em; */
  /* font-family: 'Comfortaa', arial; */
  font-size: 16px;
  color: white;
}
.navbar{
  min-height: 65px;
}
#header .navbar-brand{
  height: 70px;
}
/* }
#header .mt-15{
  margin-top: -15px;
} */
#header .logo{
  margin-top:2px;
  width: 60px;
  height: 60px;
}
.btn-buscador{
  color: white;
  background-color: rgb(199,160,77); /*Ocre*/
}
.fa-shopping-cart{
  color: rgb(199,160,77); /*Ocre*/
  margin-right: 20px;
  margin-left: 20px;
}
.login-area{
  margin-right: 100px;
}
#navbarDropdown{
  /* width: 180px !important; */
  /* margin-right: 100; */
  width: 100%;
}
.dropdown-menu{
  width: 170px !important;
}
.dropdown-item{
  width: 160px !important;
  margin-left: 5px !important;
  font-size: 12px;
  padding-left: 5px !important;
}
ul{
  margin: 0 !important;
}
#izqCero{
  margin-left:0px!important;
}
@media screen and (max-width:575px) {
  #header .mt-15{
    margin-top: 3px
  }
  .navbar-nav{
    display: flex !important;
    align-items: left !important;
  }
  .login-nav{
    margin: auto;
    /* align-self: left; */
  }
}
@media screen and (max-width:766px) {
  #header .logo{
   position: absolute!important;
   left:42%!important;
 }
}
#header .navbar-toggler {
  position:absolute;
  right:20px!important;
  top:25px!important;
}
