/* Made with love by Mutiullah Samim*/

/* @import url('https://fonts.googleapis.com/css?family=Numans'); */

html,body{
  background-image: url('/images/interior.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* font-family: 'Numans', sans-serif; */
}

.container{
  height: 100%;
  /* align-content: center; */
  /* margin-top: 10px; */
  margin-bottom: 30px;
}

.card{
  height: 320px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  /* background-Color: rgba(0,0,0,0.5) !important; */
  background-Color: rgba(145, 136, 119, 0.6) !important; /*Gris*/
  font-size: 1.5rem;
}

.card .btn,
.card .input-group-text,
.card .form-control,
.card .file-input
{
  font-size: 1.5rem;
  overflow: hidden;
}

.card-body .form-control{
  width: 100% !important;

}
#login .card-body .form-control{
  width: auto !important;
}

#login .input-group-text{
  height: 32px!important;
}

#restore .card-body .form-control{
  width: auto !important;
}

#restore .input-group-text{
  height: 32px!important;
}

#registro .selectPregunta{
  padding-left: 5px;
  width: 100%;
}

.card a {
  /* Color: #55a4fb; */
  Color: rgb(23, 90, 108); /*Azul*/
  text-decoration: none;
}
.card a:hover{
  /* Color: #55a4fb; */
  Color: rgb(23, 90, 108); /*Azul*/
  text-decoration: underline;
}
.card a:visited{
  /* Color: #55a4fb; */
  Color: rgb(23, 90, 108); /*Azul*/
  text-decoration: none;
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  Color: #FFD728;
}

.social_icon span:hover{
  Color: white;
  cursor: pointer;
}

.card-header h1{
  Color: white;
}

/*
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
*/

.input-group-prepend span{
  width: 50px;
  background-Color: #FFD728;
  Color: black;
  border:0 !important;
}

.input-group-prepend{
  display: inline-block!important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: inset 10em 10em lightgray !important;
}

.remember:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

}

/* .file-input::-webkit-file-upload-button{
visibility: hidden;
} */

/* .file-input::before {
content: 'tu foto';
} */

.remember{
  Color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin: 0;
}

.login_btn{
  Color: black;
  background-Color: #FFD728;
  width: 130px;
  margin:0 5px 0 5px;
}

.login_btn:hover{
  Color: black;
  background-Color: white;
}

.links{
  Color: white;
}

.links a{
  margin-left: 4px;
}

.imagen{
  position: absolute;
  top:-55px;
  right: 30px;
  width: 50px;

}

/* .headerEspacio{
  padding-top: 61px!important;
} */
.container.registro .headerEspacio,
.container.perfil .headerEspacio{
  padding-top: 81px!important;
}
.container.registro .card,
.container.perfil .card{
  height: auto;
}
.container.login .social_login a,
.container.registro .social_login a,
.container.perfil .social_login a{
  background: #FFD728;
}
.container.login .space,
.container.registro .space,
.container.perfil .space {
  Color: white;
  text-align: center;
  margin: 1em 0;
}

.container.login .social_login{
  display: none;
}

.form-group p {
  /* Color: rgb(199,160,77); /*Ocre*/
  Color:white;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0!important;
}

.form-login p {
  Color:white;
  font-weight: bold;
}

.card-footer{
  font-weight: bold;
}

/*Celular*/
@media (max-width:575px){
  .card .tablet{
    visibility: visible;
  }
  .card .imagen{
    display: none;
  }
  .login_btn {
    width: 46%;
  }

  .container {
    height: auto;
  }

  .card {
    margin: 1em 0 1em 0;
    height: auto;
  }

  .container.login .social_icon{
    display: none !important;
  }
  .container.login .social_login{
    display: block;
  }


}



@media (min-width:1024px){
  .login .tablet{
    visibility: hidden;
  }
}
/*
.perfil .card{
  flex-grow: 1;
} */
.perfil {
  height: unset;
}
.perfil .card {
  width: 80%;
}
.perfil .login_btn{
  width: 150px;
}
.perfil h2{
  color : white;
}
.perfil  .form-group {
  margin-bottom: 2.5rem;
}

.form-group label {
  text-align: right;
}

.perfil select{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Reiniciar Contraseña */
.passwordReset .form-group {
  margin-bottom: 2.5rem;
}
.passwordReset .card{
  width:500px;
}
