/* color: rgba(145, 136, 119, 0.6); /*Gris*/
/* color: rgb(199,160,77); /*Ocre*/
/* color: rgb(156, 145, 82); /*Verde*/
/* color: rgb(23, 90, 108); /*Azul*/

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  margin-top: 40;
  font-family: 'Comfortaa', arial;
}

.formulario input{
  display: block;
}

.formulario input[type=checkbox]{
  display: inline;
}

a{
  color: rgb(23, 90, 108); /*Azul*/
}
