#img-upload{
  width: 100%;
  /* min-height: 321px; */
}
.body-container{
  margin: 0;
  padding: 0;
}
/*--- Products blade */
.products-title{
  margin-top: 10px;
  background-color: rgba(145, 136, 119); /*Gris*/
  color: white;
}
.products-title h1{
  margin: auto;
}
.products-filter h3{
  margin: auto !important;
}
.products-footer{
  width: 100vw !important;
  background-color: rgba(145, 136, 119); /*Gris*/
  padding: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  display: flex;
  flex-direction: row;
  justify-content:flex-end !important;
}
.products-links{
  /* margin-left: 30px; */
  padding: 0;
  height: 25px;
}
.page-link{
  height: 25px;
  max-width: 50px !important;
  color: white !important;
  background-color: rgb(199,160,77) !important; /*Ocre*/
}
.products-btn{
  /* display: flex;
  flex-direction: row-reverse; */
  margin-left: 10px;
}
.btn-agregar-producto{
  /* margin-top: 20px; */

}
/* Products blade ---*/

/* --- Product-card --> Product - AddProduct - EditProduct blade */
.product-card{
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}
.product-card-info{
  display: flex;
  flex-direction: column;
}
.product-card-header{
  background-color: rgba(145, 136, 119); /*Gris*/
  color: white;
}
.product-card-title{
  Color: rgb(23, 90, 108); /*Azul*/
}
.product-card-footer{
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: rgba(145, 136, 119); /*Gris*/
}
.btn-secondary{
  height: 25px;
  width: 120px;
  background-color: rgb(199,160,77); /*Ocre*/

}
.message-card-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(145, 136, 119, 0.6); /*Gris*/
  z-index: 999;
}
.message-card{
  max-width: 500px;
  margin: auto;
  margin-top: 150px;
  font-size: 2em;
}
.message-card-body{
  color: red;
}
/* Product-card --> Product - AddProduct - EditProduct blade ---*/

/*--- AddProduct blade */
.input-foto{
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-left: 10%;
  /* align-self: flex-end; */
}
.input-group-text{
  width:75px;
}
.input-label-descripcion, .input-text-descripcion{
  height: 100px;
}
/*AddProduct blade ---*/

/* Tablet */
@media (max-width:360px){
  .products-footer{
    margin: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-links{
  }
  .page-link{
  }
  .btn-agregar-producto{
    margin: auto !important;
    margin-bottom: 10px !important;
  }
}
